* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f3f3;
    padding: 30px;
}
.header {
    background-image: linear-gradient(to right bottom, 
        rgba(75, 157, 216, 0.7), 
        rgba(24, 24, 152, 0.702)), 
    url("../images/header-bg.jpg");
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.header .logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 30px;

}
.header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header .title-box {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.header .title-box .big {
    font-size: 40px;
    letter-spacing: 30px;
    display: block;
}
.header .title-box .small {
    font-size: 20px;
    letter-spacing: 14px;
    display: block;
}