* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f3f3;
    font-size: small;
    margin: auto;
    color: rgb(64, 63, 63);
    height: 100vh;
}
.container {
    padding: 0.3rem 10rem;
}
.header-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.3rem;
    cursor: pointer;
}
.nav {
    display: flex;
}
.header-logo {
    margin-right: 2.5rem;
    font-weight: bold;
}
.logo-color {
    color: purple;
}
.header-menu {
    display: flex;
}
.menu {
    list-style-type: none;
    padding-left: 1.5rem;
}
.header-link {
    text-decoration: none;
    color: rgb(64, 63, 63);
}
.header-btn {
    text-decoration: none;
    background-color: purple;
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}
.show-menu-btn {
    font-size: 1.6rem;
    display: none;
}
/*  header main part */

.header-main {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.header-main-left {
    flex-basis: 50%;
}
.header-main-left-resize {
    width: 73%;
}
.header-main-left-title {
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.header-main-left-text {
    line-height: 1.5rem;
}
.header-main-left-btn {
    margin-top: 1.8rem;
}
.header-main-left-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: purple;
    padding: 0.6rem;
    width: 8rem;
    text-align: center;
    margin-right: 0.4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.header-main-left-link:nth-child(1) {
    background-color: rgb(49, 148, 214);
}
.header-main-right {
    flex-basis: 50%;
}
.header-main-right-img {
    width: 100%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 7px 7px 20px 1px gray;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.header-main-right-img:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 7px 7px 20px 1px rgb(222, 51, 241);
}

/*  *********************** Start the main part ******************************** */

.works-text {
    margin-top: 6rem ;
    text-align: center;
    line-height: 1.5rem;
}
.works-main {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}
.works-cards {
    max-width: 16rem;
}
.works-img {
    max-width: 26rem;
    max-height: 16rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 7px 7px 20px 1px gray;
    margin: auto;
    margin-top: 3rem;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.works-img:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 7px 7px 20px 1px rgb(222, 51, 241);
}
.works-img-img {
    width: 100%;
    height: 100%;
}
/*  ********************************* Start comment part ********************************************  */
.comment-container {
    background-color: purple;
    margin-top: 4rem;
}
.comment-part {
    padding: 2rem;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
}
.comment-part-title {
    margin-bottom: 0.8rem;
}
.carts {
    box-shadow: 3px 3px 20px 1px #000;
    background-color: rgb(180, 178, 178);
    color: #000;
    padding: 0.7rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.carts:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 3px 3px 20px 4px rgb(51, 225, 241);
}
.comments-carts {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
}
.cart-content-text {
    font-style: italic;
}
.cart-info {
    border-top: 1px solid rgb(167, 164, 164);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
}
.cart-info-title {
    font-size: 1rem;
    font-weight: bold;
}


.cart-info-img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}
.logo-img-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logo-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3rem;
    height: 3rem;
    box-shadow: 3px 4px 10px 1px #000;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.logo-img:hover {
    box-shadow: 3px 4px 10px 1px rgb(51, 225, 241);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.logo-name {
    font-size: 1.2rem;
    font-weight: 800;
}
/*  *********************** Start portfolio part *********************************** */

.portfolio-container {
    text-align: center;
    margin: 2.2rem 0;
    line-height: 2rem;

}
.portfolio-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}
.portfolio-img {
    width: 18rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0 0 20px 1px #f756cc;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
.portfolio-img:nth-child(odd) {
    box-shadow: 0 0 20px 1px rgb(49, 148, 214);
}
.portfolio-img:hover {
    box-shadow: 0 0 20px 1px rgb(38, 242, 62);
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}
.portfolio-img-img {
    width: 100%;
}

/*  ************************** Start footer part ********************************** */
.footer-input-part {
    background-color: purple;
}
.footer-input-container {
    display: flex;
    padding: 4rem 0;
    justify-content: space-between;
    align-items: center;
}
.footer-input-part-text {
    font-size: 18px;
    color: #fff;
}
.footer-input-box {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-basis: 16rem;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}
.footer-input {
    border: none;
    outline: none;
}
.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c907c9;
    border: none;
    padding: 0.6rem 0.9rem;
    border-radius: 0.5rem;
}
.copy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


/*  ------------------------------------- Start Responsive ------------------------------------ */

