body{
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

/* ------------ graduation party start ------------------ */

.graduation{
    padding: 30px;
    width: 40%;
    margin: auto;
    box-shadow: 2px 3px 13px 1px lightgreen;
    margin-bottom: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.graduation img{
    box-shadow: 3px 3px 10px 1px lightgreen;
    width: 100%;
    border: 4px dotted #fff;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.graduation h1,p {
    text-align: center;
}
.graduation p{
    padding-bottom: 20px;
}
/* ------------ graduation party end ------------------ */

/* ------------ course in winter start ------------------ */
.winter{
    padding: 30px;
    width: 40%;
    margin: 50px auto;
    box-shadow: 4px 5px 15px 2px orangered;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.winter img{
    box-shadow: 3px 3px 10px 1px orangered;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.winter h1,p{
    text-align: center;
}
.winter p{
    padding-bottom: 30px;
}
/* ------------ course in winter end ------------------ */

/* ------------ Nature start ------------------ */
.nature{
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 4px 5px 15px 2px snow;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}

.nature img{
    box-shadow: 3px 3px 10px 1px snow;
    width: 100%;
    border: 2px double orange;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.nature h1,p{
    text-align: center;
}
/* ------------ Nature end ------------------ */
