body{
    background-image: url(./../images/gardern.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------- Start Nav -------------------- */
header nav{
    background-color: rgb(229, 158, 25);
}
header nav ul{
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: 20px 80px;
    list-style-type: none;
    font-size: 20px;
}
header nav ul a{
    text-decoration: none;
    color: #000;
}
header nav ul a:hover{
    color: red;
}
header nav ul a:active{
    color: #fff;
}
/* ---------------- End Nav -------------------- */

.welcome-text{
    margin-top: 65px;
}
.welcome-text h1{
    color: #01ffff;
    font-size: 45px;
}
.welcome-text h2{
    color: #fff701;
    font-size: 40px;
}
.welcome-text h1,
h2{
    text-align: center;
    font-weight: bold;
    text-shadow: 6px 6px 6px rgb(53, 23, 252);
}
.button{
    text-align: center;
    margin-top: 90px;
}
.button .login{
    background-color: green;
    color: #fff;
    padding: 13px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
}
.button .register{
    background-color: rgb(124, 124, 124);
    color: #fff;
    padding: 13px 25px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 40px;
    cursor: pointer;
}
