@font-face {
    font-family: irannstaliq;
    src: url('./../fonts/IranNastaliq/IranNastaliq/IranNastaliq.ttf') format('truetype');
}
@font-face {
    font-family: parastoo;
    src: url(./../fonts/parastoo-font-v1.0.0-alpha3/web/Parastoo.ttf) format('truetype'),
    url(./../fonts/parastoo-font-v1.0.0-alpha3/web/Parastoo.woff) format('woff');
}

body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: irannastaliq;
}



div {
    width: 280px;
}

img{
    width: 330px;
}

p a {
    font-size: 25px;
    background-color: greenyellow;
}