:root {
    --aside-color: #1E202D;
    --bg-color: #F3F3F3;
    --white: #FFFFFF;
    --cart1-color: #574C91;
    --cart2-color: #DC3546;
    --cart3-color: #FEC107;
    --cart4-color: #29A744;
    --text-color: #797B7A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 18.66% auto;
}
/* ------------------------------------- start aside ----------------------------------- */
aside {
    height: 100vh;
    background-color: var(--aside-color);
    color: var(--white);
    padding-left: 8px;
}

aside .aside-header .title {
    height: 60px;
    text-align: center;
    padding-top: 12px;
}
aside .aside-header .profile {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 14px;
}
aside .aside-header .profile .profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;

}
aside .aside-header .profile .profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
aside .aside-header .profile .profile-info h2 {
    font-size: 14px;
}
aside .aside-header .profile .profile-info p {
    font-size: 12px;
}
aside .menu .text {
    color: var(--text-color)
}
aside .menu .text li a {
    color: var(--text-color)
}

aside .menu ul {
    padding-top: 20px;
}
aside .menu ul h2 {
    font-size: smaller;
    color: var(--text-color)
}
aside .menu ul li {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}
aside .menu ul li:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    background-color: rgb(45, 45, 70);
}
aside .menu ul li a {
    color: var(--white);
    text-decoration: none;
}
/* ------------------------------------- end aside ----------------------------------- */

/*  ------------------------------------- start main header -------------------------------- */
main {
    position: relative;
}
main header .header {
    background-color: var(--white);
    height: 110px;
    padding: 15px 25px;
}
main header .header .left {
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: start;
}
main header .header .left .menu-bar {
    font-size: 22px;
    display: flex;
    align-items: start;
}
main header .header .left .search {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding-right: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
main header .header .left .search input {
    padding: 8px 14px;
    border: none;
    outline: none;
    background-color: var(--bg-color);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
main header .header {
    display: flex;
    justify-content: space-between;
}
main header .header .right {
    display: flex;
    font-size: 16px;
    gap: 16px;
}
main header .header .right i {
    font-size: 20px;
    color: var(--text-color)
}
main header .header .right .details {
    display: flex;
    gap: 6px;
}
main header .header .right .details i {
    font-size: 12px;
    color: var(--text-color)
}

/*  ------------------------------------- end main header -------------------------------- */
/* -------------------------------------- start main body ----------------------------------- */
main .dashboard-text {
    background-color: var(--white);
    height: 70px;
    width: 94%;
    position: absolute;
    top: 70px;
    left: 30px;
    box-shadow: 0 0 4px 1px rgb(225, 225, 225);
    padding-left: 25px;
    padding-top: 20px;
}
main .section-one {
    display: grid;
    gap: 28px;
    grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
    width: 94%;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 30px;
}
main .section-one .carts {
    height: 100px;
    background-color: var(--white);
    box-shadow: 0 0 4px 1px rgb(225, 225, 225);
    padding: 12px;
    display: flex;
    gap: 16px;
}
main .section-one .carts .shape {
    height: 75px;
    width: 75px;
    color: var(--white);
    font-size: 26px;
    text-align: center;
    padding-top: 22px;
}
main .section-one .carts .shape1 {
    background-color: var(--cart1-color);
}
main .section-one .carts .shape2 {
    background-color: var(--cart2-color);
}
main .section-one .carts .shape3 {
    background-color: var(--cart3-color);
}
main .section-one .carts .shape4 {
    background-color: var(--cart4-color);
}
main .section-one .carts .text {
    margin-top: 16px;
}
main .section-one .carts .text p {
    font-size: small;
    margin-bottom: 6px;
}

                            /* ---------- section two ------------ */

main .section-two {
    display: grid;
    gap: 30px;
    grid-template-columns: 63.4% 33%;
    padding: 0 30px;
}
main .section-two .left {
    background-color: var(--white);
    height: 420px;
}
main .section-two .left .header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
main .section-two .left .header .left p {
    font-size: 20px;
    font-weight: bold;
}
main .section-two .left .header .right button {
    padding: 8px;
    margin-left: 4px;
    background-color: var(--white);
    border: none;
}
main .section-two .left .body {
    padding: 20px;
}
#myAreaChart1 {
    max-width: 100%;
    height: 300px; 
  }

main .section-two .left .header button:first-child {
    background-color: var(--cart1-color);
    color: var(--white);
    width: 70px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
main .section-two .right {
    background-color: var(--white);
    height: 400px;
}

main .section-two .right {
    height: 410px;
}
main .section-two .right .header {
    height: 70px;
    padding: 20px;
    border-bottom: 1px solid #000;
}
main .section-two .right .header h2 {
    font-size: 20px;
}
main .section-two .right .emp {
    height: 90px;
    display: flex;
    gap: 10px;
}
main .section-two .right .emp .cover-pic {
    width: 20%;
    margin: 10px;
}
main .section-two .right .emp .cover-pic img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
main .section-two .right .emp .info {
    overflow: hidden;
}
main .section-two .right .emp .info .title {
    display: flex;
    margin: 10px;
}
/* -------------------------------------- end main body ----------------------------------- */