body {
    background-color: #c3eef8;
    padding: 0;
    margin: 0;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b0118b;
    text-align: center;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
}

.menu ul li a:hover{
    background-color: rgb(33, 211, 231);
    color: #000;
}

.menu ul li {
    display: inline-block;
    
}

.location {
    width: 330px;
    height: 250px;
    
}
.location img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 5px #b0118b;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}